
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.tab-menu {
    display: inline-flex;
    border-bottom: 1px solid black; 
}


.tab-menu li {
   
    padding: 10px;
    width: 100px;
    text-align: center; 
    margin-right: 240px;
    margin-left: 100px;
}


.tab-menu li a {
    border: 1px solid black;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

